<div class="wrapper">
  <form [formGroup]="form">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="name" required>
        <mat-error *ngIf="form.controls.name.invalid">Some error</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="pass" required type="password">
        <mat-error *ngIf="form.controls.pass.invalid">Some error</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>

<button mat-raised-button (click)="setName('ivan')" color="primary">Ivan</button>
<button mat-raised-button (click)="setName('jon')" color="primary">Jon</button>
<button mat-raised-button (click)="setError()" color="primary">Error</button>
<button mat-raised-button (click)="setValid()" color="primary">Valid</button>
<button mat-raised-button (click)="touch()" color="primary">Touch</button>

<pre>State: {{state$ | async | json}}</pre>
<pre>Form value: {{form.value | json}}</pre>
<pre>name.value: {{name.value | json}}</pre>
<pre>name: {{name | json}}</pre>
<pre>abstract name: {{abstractName | json}}</pre>

<router-outlet></router-outlet>
